<header class="header-wrapper home-parallax home-fade dark-bg slider-classic">
  <div class="header-wrapper-inner flexslider">
    <ul class="slides">
      <li style="background-image: url(/includes/images/intro/V4_Carousel_Image_01.jpg)">
        <div class="color-overlay"></div>
        <div class="intro-wrapper">
          <div class="intro">
            <h1>Designs That Matter</h1>
            <p>Bringing Your Vision To Life</p>
            <a href="/projects/search/digital" class="btn btn-default-o">Digital Design</a>
            <a href="/projects/search/product" class="btn btn-default-o">Product Design</a>
            <a href="/projects/search/landscape" class="btn btn-default-o">Landscape Design</a>
          </div>
        </div>
      </li>
      <li style="background-image: url(/includes/images/intro/V4_Carousel_Image_02.jpg)">
        <div class="intro-wrapper">
          <div class="color-overlay"></div>
          <div class="intro">
            <h1>Designs That Matter</h1>
            <p>Bringing Your Vision To Life</p>
            <a href="/projects/search/digital" class="btn btn-default-o">Digital Design</a>
            <a href="/projects/search/product" class="btn btn-default-o">Product Design</a>
            <a href="/projects/search/landscape" class="btn btn-default-o">Landscape Design</a>
          </div>
        </div>
      </li>
      <li style="background-image: url(/includes/images/intro/V4_Carousel_Image_03.jpg)">
        <div class="intro-wrapper">
          <div class="color-overlay"></div>
          <div class="intro">
            <h1>Designs That Matter</h1>
            <p>Bringing Your Vision To Life</p>
            <a href="/projects/search/digital" class="btn btn-default-o">Digital Design</a>
            <a href="/projects/search/product" class="btn btn-default-o">Product Design</a>
            <a href="/projects/search/landscape" class="btn btn-default-o">Landscape Design</a>
          </div>
        </div>
      </li>
      <li style="background-image: url(/includes/images/intro/V4_Carousel_Image_04.jpg)">
        <div class="intro-wrapper">
          <div class="color-overlay"></div>
          <div class="intro">
            <h1>Designs That Matter</h1>
            <p>Bringing Your Vision To Life</p>
            <a href="/projects/search/digital" class="btn btn-default-o">Digital Design</a>
            <a href="/projects/search/product" class="btn btn-default-o">Product Design</a>
            <a href="/projects/search/landscape" class="btn btn-default-o">Landscape Design</a>
          </div>
        </div>
      </li>
      <li style="background-image: url(/includes/images/intro/V4_Carousel_Image_05.jpg)">
        <div class="intro-wrapper">
          <div class="color-overlay"></div>
          <div class="intro">
            <h1>Designs That Matter</h1>
            <p>Bringing Your Vision To Life</p>
            <a href="/projects/search/digital" class="btn btn-default-o">Digital Design</a>
            <a href="/projects/search/product" class="btn btn-default-o">Product Design</a>
            <a href="/projects/search/landscape" class="btn btn-default-o">Landscape Design</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>

<section id="whatwedo" class="section">
  <div class="container left whatwedo">
    <header>
      <h2>What we do</h2>
    </header>
    <div class="section-content">
      <h5>Mission</h5>
      Our mission is to develop human-centric design solutions that leave a lasting, positive impact on individuals and the larger society. We aim to create artifacts and solutions that spark curiosity and inspire future designers to join us in exploring the unknown and redefining what is possible.
    </div>
    <div class="section-content">
      <h5>What We Provide</h5>
      We are an innovative design lab that develops design solutions to solve challenging, complex problems that do not have pre-existing solutions. Using a human-centered approach, we work in close partnership with our clients, from the start to end, to make their vision a reality. Our fields of expertise include designing solutions for products, software and landscape.
    </div>
  </div>
</section>
