<section id="whoweare" class="section">
  <div class="container left whoweare">
    <header>
      <h2>Who we are</h2>
    </header>
    <div class="section-content">
      <h5>How It Started</h5>
      Our team started as young, curious minds tinkering with objects, driven by the questions of: How does this work? What if we..? and How far can we take this? Over time, we accumulated a collection of uniquely customized engineering projects that solved specific problems and pushed the limits of what is possible. Sigma Projects, or the sum of all projects, is the portfolio that showcases our eclectic collection of skills and expertise.
    </div>
  </div>
</section>
